<section class="thirteen columns" id="courses">
    <hr />
    <h1>Coursework</h1>
    <article>
            <table>
              <tr>
                <td>IE529</td>
                <td>Stats of Big Data & Clustering</td>
              </tr>
              <tr>
                <td>IE531</td>
                <td>Algorithms for Data Analytics</td>
              </tr>
              <tr>
                <td>IE532</td>
                <td>Analysis of Network Data</td>
              </tr>
              <tr>
                <td>IE534</td>
                <td>Deep Learning</td>
              </tr>
              <tr>
                <td>CS446</td>
                <td>Machine Learning</td>
              </tr>
              <tr>
                <td>CS411</td>
                <td>Database Systems</td>
              </tr>
              <tr>
                <td>CS543</td>
                <td>Computer Vision</td>
              </tr>
              <tr>
                <td>ST578</td>
                <td>Statistical Learning in Data Science</td>
              </tr>
            </table>
    </article>
<!--     <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article> -->
</section>

