<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.S. in Advanced Analytics</h1>
            <span>University of Illinois</span>
            <span><address>Urbana–Champaign, USA</address><time>2017 to present.</time></span>
        </header>
        <p>
            <!-- Thesis: <em>Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em> -->
        </p>
    </article>
    <article>
        <header>
            <h1>B.E. in Harbor, Waterway and Coastal Engineering</h1>
            <span>Dalian University of Technology</span>
            <span><address>Dalian, China</address><time>2013 to 2017</time></span>
        </header>
        <p>
            Thesis: <em>The Structure Design of a Gravity Quay Wall of Ocean Fishery Group in Dalian</em>.
        </p>
    </article>
</section>
