<section class="thirteen columns" id="hobby">
    <hr />
    <h1>Hobbies</h1>
    <article>
        <p> Jazz Music, Movies (Big fan of Marvel), Football, Travelling, Hiking, Skiing.</p>
    </article>
    <hr />
    <article>
    <header>
        <p><strong>Reading List</strong></p>
        <br>
    </header>
    <ul>
      <li><a href="https://www.amazon.com/Computer-Systems-Programmers-Perspective-3rd/dp/013409266X" target="_blank">Computer Systems: A Programmer's Perspective (3rd Edition)</a></li>
      <li><a href="https://www.amazon.cn/dp/B01N03IQK4" target="_blank">深入理解计算机系统(原书第3版)</a></li>
      <li><a href="https://www.amazon.com/Programming-Language-2nd-Brian-Kernighan/dp/0131103628" target="_blank">C Programming Language, 2nd Edition</a></li>
      <li><a href="https://www.amazon.com/Algorithms-4th-Robert-Sedgewick/dp/032157351X" target="_blank">Algorithms (4th Edition)</a></li>
      <li><a href="https://www.amazon.com/Introduction-Algorithms-3rd-MIT-Press/dp/0262033844" target="_blank">Introduction to Algorithms, 3rd Edition (MIT Press)</a></li>
      <li><a href="https://www.amazon.com/Hands-Machine-Learning-Scikit-Learn-TensorFlow/dp/1491962291" target="_blank">Hands-On Machine Learning with Scikit-Learn and TensorFlow: Concepts, Tools, and Techniques to Build Intelligent Systems</a></li>
      <li><a href="https://www.amazon.com/Hadoop-Definitive-Storage-Analysis-Internet/dp/1491901632" target="_blank">Hadoop: The Definitive Guide: Storage and Analysis at Internet Scale</a></li>
      <li><a href="https://www.amazon.com/MySQL%E6%8A%80%E6%9C%AF%E5%86%85%E5%B9%95%EF%BC%9AInnoDB%E5%AD%98%E5%82%A8%E5%BC%95%E6%93%8E-%E7%AC%AC2%E7%89%88-%E6%95%B0%E6%8D%AE%E5%BA%93%E6%8A%80%E6%9C%AF%E4%B8%9B%E4%B9%A6-Chinese-%E5%A7%9C%E6%89%BF%E5%B0%A7-ebook/dp/B00ETOV48K" target="_blank">MySQL技术内幕：InnoDB存储引擎(第2版) (Chinese Edition)</a></li>
      <li><a href="https://www.amazon.cn/dp/B007RKQ98I" target="_blank">MySQL技术内幕：SQL编程</a></li>
    </ul>
    <hr />
    </article>

    <article>
    <header>
        <p><strong>TV series I like</strong></p>
        <br>
    </header>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Agents_of_S.H.I.E.L.D." target="_blank">Agents of S.H.I.E.L.D.</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Game_of_Thrones" target="_blank">Game of Thrones</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Friends" target="_blank">Friends</a></li>
      <li><a href="https://en.wikipedia.org/wiki/The_Big_Bang_Theory" target="_blank">The Big Bang Theory</a></li>
      <li><a href="https://en.wikipedia.org/wiki/The_Gifted_(TV_series)" target="_blank">The Gifted</a></li>
    </ul>
    <hr />
    </article>

    <article>
    <header>
        <p><strong>Animations I like</strong></p>
        <br>
    </header>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Dragon_Ball" target="_blank">Dragon Ball Series (ドラゴンボール)</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Fairy_Tail" target="_blank">Fairy Tail (フェアリーテイル)</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Initial_D" target="_blank">Initial D Series (イニシャル・ディー)</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Naruto" target="_blank">Naruto (ナルト)</a></li>
    </ul>
    <hr />
    </article>
</section>