<section class="thirteen columns" id="#me">
    <p align="justify"><span>👉This is my personal <strong><a href="/blog/" style="color:#f94f54">blog</a></strong>, I keep writing everyday. Please check it out, if you are also interested in Machine / Deep / Reinforcement Learning and other Data Science related fields.</span></p>
    <hr />
    <h1>About me</h1>
    <article>
            <p align="justify">Hi, I'm Zhenye Na! I'm currently a graduate student majoring in Advanced Analytics @ <a href="https://ise.illinois.edu/" target="_blank" style="color:#f94f54">ISE</a> in <a href="http://illinois.edu/" target="_blank" style="color:#f94f54">UIUC</a>. I received my Bachelor Degree in <a href="http://en.dlut.edu.cn/" target="_blank" style="color:#f94f54">Dalian University of Technology</a>, majoring in Harbor, Waterway and Coastal Engineering.</p>
            <br>
            <p align="justify">I am interested in research related to Machine Learning, Deep Learning and Computer Vision. I am also interested in Speech, Image Processing and other Data Science related fields. I am currently advised by <a href="http://jasirign.github.io/" target="_blank" style="color:#f94f54">Prof. Justin A. Sirignano</a> for my graduate study.</p>
            <br>
            <blockquote>
              <p align="justify" style="font-size:15px">An engineer will do for a dime what any fool will do for a dollar.</p><cite>Arthur M. Wellington.</cite>
            </blockquote>
            <blockquote>
              <p align="justify" style="font-size:15px">The problem with object-oriented languages is they’ve got all this implicit environment that they carry around with them. You wanted a banana but what you got was a gorilla holding the banana and the entire jungle.</p><cite>Joe Armstrong, on Object-Oriented-Programming.</cite>
            </blockquote>
    </article>
</section>
