<section class="thirteen columns" id="projects">
    <hr />
    <h1>Projects</h1>
    
    <article>
        <header>
            <h1>Full Stack Web Application: a Q&A Community</h1>
            <span><a href="https://qac.herokuapp.com/">See this project</a></span>
            <span><time>Jul. 2018 - Aug. 2018</time></span>
        </header>
<!--         <ul>
            <li>Designed a Q&A Community Web Application using AngularJS for front-end, Laravel and MySQL for back-end with HTML, CSS, JavaScript and PHP</li>
            <li>Integrated features like upvote/downvote, following users and question tags in the application</li>
            <li>Designed database schema and maintained database in MySQL using Laravel Migration mechanism</li>
        </ul> -->
    </article>

    <article>
        <header>
            <h1>MAMP based Mining-Rigs Web-store: Mining Rig Assembly</h1>
            <span><a href="http://rigassembly.web.engr.illinois.edu/">See this project</a></span>
            <span><time>Mar. 2018 - May 2018</time></span>
        </header>
<!--         <ul>
            <li>Developed an MAMP based web-store application which is used for browsing, storing rig setups and estimating performance in an integrated website</li>
            <li>Implemented using HTML, JavaScript and CSS for front-end, PHP and MySQL for back-end, FushionCharts for data visualization</li>
            <li>Designed and maintained products database (CRUD) in MariaDB by 3rd-party API integrating Amazon and Newegg</li>
            <li>Introduced additional features like product information visualization, price notiﬁcation, rigs payback period computation and so forth</li>
        </ul> -->
    </article>

</section>
