---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">
    {{ content }}
    {% include advertisements.html %}
  </div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <table>
    <thead><tr>
      <th>Venmo</th>
      <th>Paypal</th>
    </tr></thead>
    <tbody><tr>
      <td><img style="max-width: 150px; max-height: 150px" src="https://raw.githubusercontent.com/Zhenye-Na/img-hosting-picgo/master/img/venmo.jpeg" alt="Venmo" /></td>
      <td><img style="max-width: 150px; max-height: 150px" src="https://raw.githubusercontent.com/Zhenye-Na/img-hosting-picgo/master/img/paypal.jpg" alt="Paypal" /></td>
    </tr></tbody>
  </table>
  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>