---
layout: default
---

<style>
/*img.center {
    display: block;
    margin: 0 auto;
}
*/
img.avatar {
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    width: 150px;
}

.tags {
    /*list-style: none;*/
    padding: 0 0 25px 0;
    /*text-align: center;*/
    font-size: 15px;
    word-spacing: 30px;
}
/*.tags li {
    display: inline-block;
    margin: 0 25px 25px 0;
}
*/

a:hover {
    text-decoration: none;
}

</style>



<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->

    <!-- Image profile -->
    <img src="https://github.com/Zhenye-Na/Zhenye-Na.github.io/blob/master/images/avatar.jpg?raw=true" class="avatar" vspace="50" />

    <!-- Name + Detail + Main Tags -->
    <div align="center">
      <p> <span style="font-family: Trebuchet MS"> <font size="5"> Zhenye Na </font></span></p>
      <p> <span style="font-family: Trebuchet MS"> ISE @ UIUC </span></p>
      <p class="tags" > <span style="font-family: Trebuchet MS;"> <font size="4"> 
        <a href="/tag/Python">Python </a>
        <a href="/tag/R"> R </a>
        <a href="/tag/MySQL"> MySQL </a>
        <a href="/tag/Java"> Java </a>
        <a href="/tag/Matlab"> Matlab </a>
      </font></span></p>
    </div>

    <!-- <h1 class="page-heading">Posts</h1> -->

    <div id="search-searchbar"></div>

    <!-- Previous Original Version -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>


    <!-- Exactly what in guide -->
    <ul class="post-list" id="search-hits">
      {%- for post in site.posts -%}
      <li>
      <div class="post-item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
      </li>
      {%- endfor -%}
    </ul>


    <!-- Mixture -->
<!--     <div class="post-list" id="search-hits">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </div> -->

    {% include algolia.html %}


    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
