---
layout: default
---

<style>
img.center {
    display: block;
    margin: 0 auto;
}

img.avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 150px
}
</style>


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfUbNhms4t13sANVrWC7Gjo5ub5jTPSlFpjhdnHZWTACk_vdCIrQ" class="avatar" />
    
    <div align="center">
      <p> <span style="font-family: Trebuchet MS"> <font size="5"> Zhenye Na </font></span></p>
      <p> <span style="font-family: Trebuchet MS"> ISE @ UIUC </span></p>
      <p> <span style="font-family: Trebuchet MS; color: grey"> <font size="4"> 
        <code class="highligher-rouge"><a href="/tag/Python">Python</a></code> | 
        <code class="highligher-rouge"><a href="/tag/R">R</a></code> | 
        <code class="highligher-rouge"><a href="/tag/MySQL">MySQL</a></code> | 
        <code class="highligher-rouge"><a href="/tag/Java">Java</a></code> | 
        <code class="highligher-rouge"><a href="/tag/Matlab">Matlab</a></code> 
      </font></span></p>
    </div>

    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
